-#
-# Redhopper - Kanban boards for Redmine, inspired by Jira Agile (formerly known as
-# Greenhopper), but following its own path.
-# Copyright (C) 2015-2017 infoPiiaf <contact@infopiiaf.fr>
-#
-# This file is part of Redhopper.
-#
-# Redhopper is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Redhopper is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Redhopper.  If not, see <http://www.gnu.org/licenses/>.
-#
%h2 Kanbans

%form{data: {cm_url: issues_context_menu_path}}
	= hidden_field_tag 'back_url', url_for(:params => request.query_parameters)
	%ol.KanbanBoard
		- @kanban_board.columns.each do |column|
			%li.KanbanBoard-column.Column
				%h3
					= column.issue_status.name
					%small{title: t(".issues_count")} (#{column.work_in_progress})
				%h4
					= t(".sorted")
				%ol
					- if first_kanban = column.sorted_issues.first
						%hr{id: "kanban-#{first_kanban.id}-before", class:'Column-dropzone'}
					- last_kanban = column.sorted_issues.last
					= render partial: 'kanban', collection: column.sorted_issues, locals: { kanbans: column.sorted_issues, first_kanban: first_kanban, last_kanban: last_kanban }
				%h4
					= t(".unsorted")
				%ul
					= render partial: 'kanban', collection: column.unsorted_issues

- content_for :header_tags do
	= stylesheet_link_tag 'redhopper', :plugin => 'redhopper'
	= javascript_include_tag 'redhopper', :plugin => 'redhopper'

-# Behavior of `context_menu` changed in Redmine 3.4.0, see:
-# https://framagit.org/infopiiaf/redhopper/issues/25
- if method(:context_menu).arity == 0
	= context_menu
- else
	= context_menu issues_context_menu_path
